# NAV Trade Code

In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
# from MCForecastTools import MCSimulation
from pathlib import Path
import json

%matplotlib inline

# Importing the warnings package to suppress warnings
# import warnings
# warnings.filterwarnings('ignore')

In [2]:
# Load .env enviroment variables
# load_dotenv('env.txt')

In [3]:
# Set Alpaca API key and secret
# alpaca_api_key = os.getenv("ALPACA_API_KEY")
# alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [4]:
# Verify that Alpaca key and secret were correctly loaded
# print(f"Alpaca Key type: {type(alpaca_api_key)}")
# print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

In [5]:
# Create the Alpaca API object
# alpaca = tradeapi.REST(
#     alpaca_api_key,
#     alpaca_secret_key,
#     api_version="v2")

In [6]:
# Set the tickers
# tickers = [
#     "BTC"
#     # "GBTC"
#     # "TSLA"
#     # "EEM"
# ]

# print(tickers)

In [7]:
# Set timeframe to one day ("1Day") for the Alpaca API
# timeframe = "1Day"

In [8]:
# Format start and end dates as ISO format for one year period
# start_time = pd.Timestamp("2022-10-31", tz="America/New_York").isoformat()
# # end_time = pd.Timestamp("2020-10-31", tz="America/New_York").isoformat()
# end_time = pd.Timestamp("2023-10-31", tz="America/New_York").isoformat()

In [9]:
# Get current closing prices for FB and TWTR
# btc_data = alpaca.get_bars(
#     tickers,
#     timeframe,
#     start = start_time,
#     end = end_time
# ).df

# # Display the data
# btc_data.head()

In [10]:
# API URLs
# btc_url = "https://api.alternative.me/v2/ticker/Bitcoin/?convert=USD"

In [11]:
# Request the data from the API and explore it
# btc_request = requests.get(btc_url)
# btc_data = btc_request.json()
# print(json.dumps(btc_data, indent=4))

In [12]:
# temp_url = "https://api.alternative.me/GET/v2/stocks/{symbol}/trades"

In [13]:
# api_key = os.getenv("NASDAQ_API_KEY")

In [14]:
# type(api_key)

In [15]:
# # Define the base request URL
# request_url = "https://data.nasdaq.com/api/v3/datasets/WIKI/MSFT.json?api_key="

# # Concatenate request_url and api_key. Store as new variable
# request_url = request_url + api_key

In [16]:
# # Execute get request
# response_data = requests.get(request_url)

In [17]:
# # # Output data
# # response_data.content
# response_data.json()
# # print(json.dumps(x, indent=4))

In [18]:
# Read the GBTC Data
gbtc_historical_data = pd.read_csv(
    Path('./Resources/GBTC_Price_Data.csv'), index_col='Date', parse_dates=True
)

# Remove the dollar signs
gbtc_historical_data['Close/Last'] = gbtc_historical_data['Close/Last'].str.replace("$","")
gbtc_historical_data['Open'] = gbtc_historical_data['Open'].str.replace("$","")
gbtc_historical_data['High'] = gbtc_historical_data['High'].str.replace("$","")
gbtc_historical_data['Low'] = gbtc_historical_data['Low'].str.replace("$","")

# Cast the string numbers as floats
gbtc_historical_data['Close/Last'] = gbtc_historical_data['Close/Last'].astype(float).round(2)
gbtc_historical_data['Open'] = gbtc_historical_data['Open'].astype(float).round(2)
gbtc_historical_data['High'] = gbtc_historical_data['High'].astype(float).round(2)
gbtc_historical_data['Low'] = gbtc_historical_data['Low'].astype(float).round(2)

display(gbtc_historical_data.head())

            Close/Last     Volume   Open   High    Low
Date
2023-11-01       26.89  3498576.0  27.00  27.27  26.71
2023-10-31       26.76  2940913.0  26.50  26.83  26.13
2023-10-30       26.48  4704114.0  25.70  26.97  25.70
2023-10-27       25.07  3978757.0  25.86  26.40  24.85
2023-10-26       25.77  5328245.0  26.44  26.50  25.36

In [19]:
# Read the BTC Data
btc_historical_data = pd.read_csv(
    Path('./Resources/BTC_Price_Data.csv'), index_col='Date', parse_dates=True
)

# Sort the index
btc_historical_data.sort_index(ascending=False, inplace=True)

# Cast the string numbers as floats
btc_historical_data['Open'] = btc_historical_data['Open'].astype(float).round(2)
btc_historical_data['High'] = btc_historical_data['High'].astype(float).round(2)
btc_historical_data['Low'] = btc_historical_data['Low'].astype(float).round(2)
btc_historical_data['Close'] = btc_historical_data['Close'].astype(float).round(2)
btc_historical_data['Adj Close'] = btc_historical_data['Adj Close'].astype(float).round(2)
btc_historical_data['Volume'] = btc_historical_data['Volume'].astype(float).round(2)

display(btc_historical_data.head())

                Open      High       Low     Close  Adj Close        Volume
Date
2023-11-03  34942.47  34942.47  34692.80  34692.80   34692.80  2.069136e+10
2023-11-02       NaN       NaN       NaN       NaN        NaN           NaN
2023-11-01  34657.27  35527.93  34170.69  35437.25   35437.25  2.244627e+10
2023-10-31  34500.08  34719.25  34083.31  34667.78   34667.78  1.575827e+10
2023-10-30  34531.74  34843.93  34110.97  34502.36   34502.36  1.718486e+10

In [27]:
# Read the GBTC holdings
# Read the BTC Data
gbtc_holdings_data = pd.read_csv(
    Path('./Resources/GBTC_Holdings.csv')
    # , index_col='Date', parse_dates=True
)

month_map = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'Jun':6, 'Jul':7, 'Aug':8, 'Sep':9, 'Oct':10, 'Nov':11, 'Dec':12}

gbtc_holdings_data['month_number'] = gbtc_holdings_data.Month.map(month_map)

gbtc_holdings_data.head(15)

   Month  Year GBTC Holdings (BTC)  month_number
0    Jan  2023             635,420             1
1    Feb  2023             635,420             2
2    Mar  2023             635,420             3
3    Apr  2023             635,420             4
4    May  2023             635,420             5
5    Jun  2023             635,420             6
6    Jul  2023             635,420             7
7    Aug  2023             635,420             8
8    Sep  2023             635,420             9
9    Oct  2023             635,420            10
10   Nov  2023             635,420            11
11   Dec  2023             635,420            12
12   Jan  2022             618,055             1
13   Feb  2022             618,055             2
14   Mar  2022             618,055             3

In [21]:
# Reorganize the dataframe

# Isolate the closing price and rename the one column to be GBTC_Close
GBTC = gbtc_historical_data[['Close/Last']].rename(columns={'Close/Last' : 'GBTC_Close'})

# GBTC.head()

# Isolate the closing price and rename the one column to be BTC_Close
BTC = btc_historical_data[['Close']].rename(columns={'Close' : 'BTC_Close'})

# BTC.head()

combined_df = pd.concat([GBTC,BTC],axis="columns", join="inner")

combined_df.head()

            GBTC_Close  BTC_Close
Date
2023-11-01       26.89   35437.25
2023-10-31       26.76   34667.78
2023-10-30       26.48   34502.36
2023-10-27       25.07   33909.80
2023-10-26       25.77   34156.65

In [22]:
combined_df['NAV'] = combined_df['GBTC_Close'] * 100

combined_df.head()

            GBTC_Close  BTC_Close     NAV
Date
2023-11-01       26.89   35437.25  2689.0
2023-10-31       26.76   34667.78  2676.0
2023-10-30       26.48   34502.36  2648.0
2023-10-27       25.07   33909.80  2507.0
2023-10-26       25.77   34156.65  2577.0